// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// オリジナルcss

// ---------- 共通 ----------
// ----- アイコン -----
// プロフィールアイコン
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  // ヘッダーアイコン
  &.profile-picture-header {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
   }

   &.profile-picture-border {
    border: solid 1px black;
   }
}

// ----- カーソルポインター -----
.cursor_pointer {
  cursor: pointer;
}

// ファイルアップロードにカーソル追加
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}

// ----- カレンダー -----
// カレンダーの処理(独自オプション)
.date_option {
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

// カレンダーのボーダーの色
.date_border {
  border: 1px solid #ced4da;
}

// ---------- 個別 ----------
// ----- 予算表示 -----
// カード全体の影
.shadow {
  box-shadow: 0 0 3px gray;
}

// カードヘッダーの背景
.card-header-bg {
  background: #AFDFE4;
}

// 一覧検索のボタン
.search-btn {
  padding: 0.1rem 0.75rem;
  vertical-align: revert;
  // ----- レスポンシブ対応 -----
  @media screen and (max-width: 414px) {
    padding: 0.2rem 0.85rem;
  }
}