// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// オリジナルcss

// ---------- 共通 ----------
// -----
$body_btn_font-size: 0.7rem;
// -----

// ----- body
body {
  @media screen and (max-width: 430px) {
    font-size: $body_btn_font-size;
  }
}

// ----- 文字サイズ
h2 {
  @media screen and (max-width: 430px) {
    font-size: 1.3rem;
  }
}

// ----- container
.container {
  @media screen and (max-width: 430px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

// ----- ヘッダー、トップページ
// navbar+containerとcontainerのみの箇所がある。その差分でヘッダーとコンテンツの横幅のずれを解消。
.navbar {
  padding: 0.5rem 0rem;
}

// ----- ボタン
.btn {
  @media screen and (max-width: 430px) {
    padding: 0.2rem 0.3rem;
    font-size: $body_btn_font-size;
  }
}

// ----- カーソルポインター -----
.cursor_pointer {
  cursor: pointer;
}

// ----- アイコン 
// プロフィールアイコン
.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  // ヘッダーアイコン
  &.profile-picture-header {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    @media screen and (max-width: 430px) {
      width: 30px;
      height: 30px;
    }
  }
  
  &.profile-picture-border {
    border: solid 1px black;
  }
}

// ----- フォーム
.form-control {
  @media screen and (max-width: 430px) {
    font-size: 0.7rem;
  }
}

// ----- カレンダー -----
// カレンダーの処理(独自オプション)
.date_option {
  input[type=date] {
    position: relative;
  }
  input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

// カレンダーのボーダーの色
.date_border {
  border: 1px solid #ced4da;
}

// ----- テーブル
.table th, .table td {
  @media screen and (max-width: 430px) {
    padding: 0.5rem;
  }
}

// ---------- 共通 ----------


// ---------- 個別 ----------

// ----- ヘッダー
// ヘッダータイトル
.navbar-brand {
  @media screen and (max-width: 430px) {
    font-size: 0.8rem;
  }
}

// ----- 予算表示
// カード全体の影
.shadow {
  box-shadow: 0 0 3px gray;
}

// カードヘッダーの背景
.card-header-bg {
  background: #AFDFE4;
}

// ----- 支出検索
// 一覧検索のボタン
.search-btn {
  padding: 0.1rem 0.75rem;
  vertical-align: revert;
  // ----- レスポンシブ対応 -----
  @media screen and (max-width: 430px) {
    padding: 0.08rem 0.5rem;
  }
}

// ----- 画像編集
// ファイルアップロードにカーソル追加
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}